<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>About</title>
</head>

<body>
    <div class="main">
        <h1>{{>header}}</h1>
        <img src="images/seqouia.jpg">
    </div>
    {{>footer}}
</body>

</html>